*, ::before, ::after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 15px;
}

.player {
  background-color: #444;
  height: 318px;
  color: #ccc;
  display: flex;
  align-items: flex-start;
  border: 2px solid black;
  padding: 10px;
  font-family: monospace;
}

.tracklist {  
  position: relative;
  display: flex;
  height: 100%;
  padding: 10px 2px 8px;
  word-wrap: break-word;
  border: .5px solid #666;
  border-right: none;
  width: 186px;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  overflow-y: auto;
}

.tracklist__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
}

.tracklist__item {
  overflow: hidden;
  display: block;
  margin-left: 12px;
  max-width: 100%;
}

.tracklist__track {
  display: inline;
  max-width: 100%;
  text-decoration: none;
  line-height: 1.55;
  color: #ccc;
  font-size: 17px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 3px;
  font-family: monospace;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;  
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.tracklist__track:hover {
  text-decoration: underline;
  color: white;
}

.main {
  padding: 10px 10px 8px 10px;
  border: .5px solid #666;
  width: 100%;
}

.spectrgrm {
  display: block;
  margin: 3px 0 7px 0;
  border: 1px solid #666;
  width: 100%;
  height: 200px;
  /*background-color: blue;*/
}

.playback-ctrl {
  display: flex;  
  align-items: center;
}

.playback-ctrl input[type="button"] {
  background-color: transparent;
  height: 39px;
  border: 1px solid #bbb ;
  color: #bbb;
  transition: border 0.2s, color 0.2s;
}

.playback-ctrl input[type="button"]:hover {
  cursor: pointer;
  color: white;
  border: 1px solid white;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 11px;
  align-items: center;
  width: 100%;
  height: 34px;
  border: 1px solid #bbb;
  background-color: transparent;
}

.progress-bar__time {
  color: #ddd;
  right: 0px;
  font-weight: 600;
  width: 100px;

}

#play_toggle {
  height: 34px;
  width: 34px;
}

.spec-ctrl {
  display: flex;
  margin-bottom:6px;
}

/*Checkboxes*/

.round {
  position: relative;
  display: flex;
  height: 28px;
  margin: 0 20px 0 1px;
}

.round .caption {
  align-self: center;
}

.round label {
  background-color: transparent;
  border: 1px solid #bbb;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
  box-shadow: 0px;
  transition: border 0.2s, color 0.2s;

}

.round:hover {
  color: white;
}

.round:hover label{
  border-color: white;
}

.round:hover label::after {
  border-color: white;
}

.round label::after {
  border: 2px solid #bbb;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}


.round input[type="checkbox"] {
  visibility: hidden;
  margin-right: 16px;
}


.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/*Audio input*/

.input-file {
  position: relative;
  cursor: pointer;
  margin: 0 13px;
  margin-top: 8px;
  padding: 7px 0;
  background: transparent;
  color:#aaa;
  border: 1px solid #aaa;
  text-align:center;
  transition: border 0.2s, color 0.2s;
}

.input-file:hover {
  border: 1px solid white;
  color: white;
}

.file-hide {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}

input[type=range].slider {
  -webkit-appearance: none;
  margin: 15px;
  height: 16px;
  background-color: #bbb;
  width: 100%;
  transition: background-color 0.2s; 
}

input[type=range].slider:hover {
  background-color: #fff;
}

input[type=range].slider:focus {
  outline: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
}

input[type=range].slider::-webkit-slider-thumb {
  height: 18px;
  width: 9px;
  background: #666;
  cursor: pointer;
  -webkit-appearance: none;
}

.playpause input {
  text-align: center;
  font-size: 17px;
  line-height: 32px;
  padding-left: 7px;
}

